.background {
    /* margin-left: auto;
    margin-right: 20px; */
    /* vertical-align: middle; */
    float: right;
    justify-content: center;
    width: 300px; 
    height: 280px;
    background: #ffffff;
    border-radius: 50%/10%;
    position: relative;
}

.elem {
  vertical-align: middle;
  float: center;
}

.container {
  width: 800px;
  height: 800px;



.wheel {
    transition: 10s;
    width: 500px;
    height: 500px;
}

.wheels {
    transition: 15s;
    width: 500px;
    height: 500px;
}

.wheels {
    transition: 10s;
    width: 500px;
    height: 500px;
}

.wheel14 {
    transform: rotate(1980deg);
    transition: 10s;
    width: 500px;
    height: 500px;
}

.wheel14s {
    transform: rotate(180deg);
    width: 500px;
    height: 500px;
}

.wheel35 {
    transform: rotate(1890deg);
    transition: 10s;
}

.wheel35s {
    transform: rotate(90deg);
}