.pivotpoint {
  position: absolute;
  top: 50%;
  left: 50%;

  color: #363636;
  font-size: 30px;

  transform: translate(-50%, -50%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}



.background {
  /* margin-left: auto;
    margin-right: 20px; */
  /* vertical-align: middle; */
  float: right;
  justify-content: center;
  width: 300px;
  height: 280px;
  background: #ffffff;
  border-radius: 50%/10%;
  position: relative;
}

.elem {
  vertical-align: middle;
  float: center;
}

.container {
  width: 90vw;
}

.infoContainer {
  display: flex;
  flex-direction: row;
  background-color: white;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
  padding: 1.5rem;
  gap: 15px;
  width: fit-content;
  margin: 5rem auto;
}

.betsContainer {
  display: flex;
  flex-direction: column;
  /* gap: 15px; */
  width: fit-content;
  height: 8.5rem;
  justify-content: space-between;
}


/* .wheelContainer {
  width: fit-content;
  position: relative;
  top: -500px;
  right: 500px;
  z-index: 0;
  /* margin: 10% 10%; */
/* } */ 


.betsColor {
  display: flex;
  gap: 15px;
}

.oneColorContainer {
  display: flex;
  flex-direction: column;
  gap: 7px;
  justify-items: center;
  align-items: center;
}

.betOnColor {
  margin: 0 auto;
  font-size: 1.2rem;
  font-weight: 700;
  transition: 2s;
}

.balance {
  font-size: 1.5rem;
  font-weight: 600;
}

.offBetOnColor {
  margin: 0 auto;
  color: rgba(128, 128, 128, 0.664);
  font-size: 1.2rem;
  font-weight: 700;
  transition: 2s;
}

.redColor {
  background-color: red;
  width: 70px;
  height: 40px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}

.greenColor {
  background-color: green;
  width: 70px;
  height: 40px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}

.blackColor {
  background-color: black;
  width: 70px;
  height: 40px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.24);
  border-radius: 12px;
}

.offColor {
  background-color: rgba(128, 128, 128, 0.733);
  width: 70px;
  height: 40px;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.123);
  border-radius: 12px;
}

.wheelContainer {
  width: fit-content;
  z-index: 4;

  margin: -5% auto;
}


.wheel {
  /* transition: 10s; */
  width: 1000px;
  height: 1000px;
  /* margin: 5rem 30%; */
}

.wheels {
  transition: 10s;
  width: 1000px;
  height: 1000px;
}

.timerContainer {
  margin: 0 auto;
  width: fit-content;
}

.timer {
  position: relative;
  top: 300px;
  margin: 0 auto;
  width: fit-content;
  z-index: 100;
  font-size: 5rem;
}

.arrow {
  position: relative;
  top: 8.5rem;
  z-index: 100;
    background-image: linear-gradient(180deg, rgba(2,0,36,1) 60%, rgb(35, 35, 250) 100%);
    clip-path: polygon(6% 0, 94% 0, 50% 100%, 50% 100%);
    width: 5.4em;
    height: 5.7em;
 }